.avatar-person {
  background-color: #dbdbdb;
  margin-bottom: 15px;
}
.container-form {
  justify-content: center;
  text-align: center;
}
.btn-form {
  margin-top: $colorPrimary;
  border: 1px solid $colorPrimary;
  background-color: $colorPrimary;
  color: white;
  outline-color: $colorPrimary;
  margin-top: 17px;
  &-reset {
    background-color: white;
    color: $colorPrimary;
    border: 1px solid $colorPrimary !important;
    &:hover {
      background-color: white !important;
      color: $colorPrimary;
      outline-style: none;
    }
    &:focus {
      background-color: white !important;
      color: $colorPrimary;
      outline-style: none !important;
    }
  }
  &:hover {
    background-color: $colorPrimary;
    color: white;
    border: 1px solid $colorPrimary !important;
  }
}
.container-profil {
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.container-image {
  width: 250px;
  height: 230px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid #cacaca;
  img {
    width: 100%;
    height: 100%;
    padding: 3%;
  }
  span {
    color: #cacaca;
    display: block;
    font-size: 12px;
  }
}
.btn-profil {
  color: $colorPrimary;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1%;
  display: block;
}
.image-input {
  display: none;
}
