.btn-dropdown-container {
  color: $colorPrimary;
  border-radius: 5px;
  // margin-left: 50px;
  &:active {
    outline-style: none !important;
    border: none !important;
  }
  .btn-dropdown {
    color: $colorPrimary;
    font-size: 20px;
  }
}
.navbar {
  width: 100%;
  background-color: $colorPrimary;
}
.logo {
  width: 50%;
  text-align: start;
}
.navbar_container {
  width: 80%;
  justify-content: space-between;
}
.navbar_container_menu {
  width: 50%;
}
.navbar_container_menu_link {
  width: 100%;
  justify-content: flex-end;
  align-self: end;
  .nav {
    justify-content: space-between;
    width: 100%;
  }
  .nav-item {
  }
}
.iconHeader {
  color: $colorSecondary !important;
  font-size: 24px !important;
}

.profil-dropdown {
}
