.navbar {
  width: 100%;
  background-color: $colorPrimary;
}
.logo {
  width: 50%;
  text-align: start;
}
.navbar_container {
  width: 80%;
  margin: 0% 10%;
  justify-content: space-between;
}
.navbar_container_menu {
  width: 50%;
}
.navbar_container_menu_link {
  width: 100%;
  justify-content: flex-end;
  .nav-item {
    margin-left: 50px;
  }
}
.iconHeader {
  color: white !important;
  font-size: 24px !important;
}
.badge-variant {
  color: black !important;
  background-color: black;
}
