.btn-dropdown-container {
  color: $colorPrimary;
  border-radius: 5px;
  width: 100%;
  &:active {
    outline-style: none !important;
    border: none !important;
  }
  .btn-dropdown {
    color: $colorPrimary;
    font-size: 20px;
  }
}
.navbar {
  height: 100%;
  background-color:white;
  width: max-content;
  display: inline;
  @media ( max-width:1024px) {
    width: min-content;
  }

}
.logo {

}
.navbar_container {
}
.navbar_container_menu {
  width: 100%;
}
.navbar_container_menu_link {
  width: 100%;
  display: flex;

  .nav {
    width: 100%;
    .nav-item{
      width: 100%;

    }
    .btn-secondary{
      width: 100%;
    }
  }
}
.iconHeader {
  color: $colorSecondary !important;
  font-size: 24px !important;
}

.profil-dropdown {
}
